<a class="badge badge-secondary remove-filter ml-2"
   href="#" data-name="{{ item.name|esc_attr }}"
   data-value="{{ item.value|esc_attr }}"
   data-filter="{{ item.filter|esc_attr }}">
    {{ render_icon('fontawesome/xmark', {class: 'icon-xxs icon-white'}, 1) }}
    <span>{{ item.title|raw }}</span>
</a>
