{% set inputs = '' %}
{% set valueIndex = 0 %}
{% for index, item in items %}

    {% set inputs = inputs ~ include(get_template('selectable_item', _self), {
        term: item,
    }) %}
    {% if item.id == value %}
        {% set valueIndex = loop.index %}
    {% endif %}
{% endfor %}

{% set hide_more_items = hide_more_items|default(0)
    and items|length > 11 and valueIndex <= 11 and not isChildren %}

{% if inputs is not empty %}
    <ul id="{{ name }}-list{% if isChildren %}-{{ parent|esc_attr }}{% endif %}"
        class="list-group filter-list pr-0{% if hide_more_items %} hide-filter-more{% endif %}{% if isChildren is defined and isChildren %} mr-4 children{% if hide_children is defined and hide_children %} d-none{% endif %}{% endif %}">
        {{ inputs|raw }}
    </ul>
    {% if hide_more_items %}
    </div>
    <div class="card-footer py-2">
        <a href="#filter-{{ name|esc_attr }}-list" data-show="{{ show_title|esc_attr }}"
           data-hide="{{ hide_title|esc_attr }}" class="d-flex justify-content-center text-decoration-none filter-more rotate-180deg">
            <span>{{ show_title|raw }}</span>
            {{ render_icon(arrow_up_icon, {class: 'icon-md'}) }}
        </a>
    {% endif %}
{% endif %}

