{% if term is defined and term is not empty %}
    {% set children = get_term_children(term, {
        hide_empty: hide_empty|default(0)
    }) %}
    {% set has_children = children|length > 0 %}
    {% set has_plus_icon = hide_children is defined and hide_children and has_children %}
    <li class="list-group-item border-0 p-0{% if has_children %} has-child{% endif %}"
        id="{{ name }}-{{ term.term_id }}">
        {% if has_plus_icon %}
          <div class="d-flex justify-content-between">
        {% endif %}
                <div class="custom-control custom-{{ type }}">
                    <input type="{{ type|esc_attr }}" name="{{ name|esc_attr }}"
                           id="{{ name|esc_attr }}_{{ term.slug|esc_attr }}" value="{{ term.slug|esc_attr }}"
                           data-slug="{{ term.slug|esc_attr }}" data-id="{{ term.slug|esc_attr }}"
                           class="custom-control-input" {{ checked(item.slug, value)|raw }}/>
                    <label class="custom-control-label" for="{{ name|esc_attr }}_{{ term.slug|esc_attr }}">{{ term.name|raw }}</label>
                </div>
        {% if has_plus_icon %}
                <div class="text-right my-auto">
                    <a href="#{{  name }}-list- {{ term.term_id }}"
                       class="filter-list-plus text-none-decoration">
                        {{ render_icon(plus_icon, {class: 'icon-md rotate-45deg icon-primary'}) }}
                    </a>
                </div>
            </div>
        {% endif %}
        {% if has_children %}
            {% include get_template('selectable', _self) with {
                items: children,
                isChildren: 1,
                parent: term.term_id
            } %}
        {% endif %}
    </li>
{% endif %}
